<script src="js/dashboard-dashboard.js" defer></script>
<link rel="stylesheet" href="css/dashboard-dashboard.css">
<div id="leds-div">
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[0].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[0].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[0].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[1].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[1].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[1].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[2].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[2].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[2].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[3].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[3].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[3].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[4].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[4].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[4].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[5].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[5].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[5].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[6].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[6].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[6].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[7].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[7].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[7].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[8].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[8].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[8].status %> </span></p>
        </div>
    </div>
    <div class="led-label">
        <div class="leds"></div>
        <div class="led-info">
            <p>ID : <span id="info-number"> <%= leds[9].number %> </span></p>
            <p>OWNER : <span id="info-owner"> <%= leds[9].owner %> </span></p>
            <p>STATUS : <span id="info-status"> <%= leds[9].status %> </span></p>
        </div>
    </div>
</div>
<div id="leds-chart">
    <h1>CHART</h1>
</div>